@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body {
    position: relative;
    height: 100%;
    font-size: 16px;
    font-family: 'Lato', 'helvetica', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

pre, code, code span {
    font-size: 16px;
    font-family: 'Inconsolata', 'Consolas', sans-serif !important;
    text-shadow: none !important;
    text-align: left;
}

#wrapper {
    padding-bottom: 40px;
}

.inline pre,
.inline code {
    display: inline !important;
}

.inline pre,
.inline code {
    padding: 0 !important;
    text-align: left;
    background-color: transparent !important;
}

.inline pre,
.inline pre code,
.inline pre code span {
    font-size: inherit;
}

.code {
    font-weight: 600;
    font-family: 'Inconsolata', 'Consolas', sans-serif !important;
}

.ui.segment {
    padding: 40px;
}

.ui.segments .ui.segment {
    padding: 20px 32px;
}

.ui.segment .ui.header {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    margin: 0 0 40px !important;
    padding: 0 0 20px 0;
}

.ui.table {
    font-size: 15px;
    font-family: 'Raleway', 'Consolas', sans-serif !important;
}

.ui.button.thin {
    font-weight: 400;
}

.label .fas,
.label .fab,
.button .fas,
.button .fab {
    margin-right: .6em;
}

.center {
    text-align: center !important;
}

.header {
    max-width: 1440px;
    width: 90%;
    margin: 40px auto 20px;
    text-align: center;
}

.header h1 {
    font-family: 'Raleway', 'Lato', 'helvetica', 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 40px;
    color: #333333;
}

.header .version {
    font-family: 'Raleway', 'Lato', 'helvetica', 'sans-serif';
    margin: 20px auto 0;
    margin-top: 20px;
    padding-top: 20px;
    max-width: 320px;
    width: 100%;
    border-top: 1px solid #f8f8f8;
}

.article {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
   /* margin-top: 80px;
    padding-top: 80px;*/
    /*border-top: 1px solid #efefef;*/
}

.article h3 {
    font-family: 'Raleway', 'Lato', 'helvetica', 'sans-serif';
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    font-weight: 600;
    font-size: 22px;
}

.article h3 span {
    font-family: 'Raleway', 'Lato', 'helvetica', 'sans-serif';
    position: relative;
    z-index: 10;
}

.article h3:after {
    display: block;
    position: absolute;
    content: '';
    height: .3em;
    border-radius: 0 .3em .3em 0;
    top: 50%;
    margin-top: -.15em;
    right: -2em;
    left: 20%;
    background-color: #e1fff4;
}

.article h4 {
    margin-bottom: 40px;
}

.article h5 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 115%;
    font-weight: 600;
}

.article > blockquote {
    margin-bottom: 40px;
}

.article ul {
    display: inline-block;
    font-size: 115%;
    font-weight: 600;
    margin: 20px 0;
}

.article ul li {
    margin: 10px 0;
}

.article :not(pre) > code[class*="language-"], .article pre[class*="language-"] {
    background-color: #f5f6f9;
    padding: 1.6em 2em;
}

.beta-mark {
    font-style: italic;
}

.token.function,
.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
    color: #ff4848;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
    color: #0040df;
}

.token.punctuation {
    color: #00abb2;
}

.token.atrule, .token.attr-value, .token.keyword {
    color: #626368;
}

.guide {
    padding: 1.2em 1.6em;
    max-width: 360px;
    margin: 1.6em auto;
    background-color: #f8f8f8;
    line-height: 2;
}

.guide h5 {
    margin: 0;
    padding: 0;
    font-size: 110%;
}

.guide .guide-dates {
    margin-top: 1.6em;
    text-align: center;
}

.guide .guide-dates span {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}

.box {
    /*display: none;*/
    width: 80%;
    margin: 0 auto 10px;
    font-weight: 600;
    bottom-top: 10px;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #d8d8d8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -o-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    overflow: hidden;
}
@media(max-width: 1200px){
.box{
    width: 100%;
}
}
.box .label {
    margin: .4em;
    white-space: normal;
    word-break: break-word;
}
