

/* Controls
---------------------------------------------------------------------- */

.controls {
 background: transparent;
 text-align: center;
}

.control {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 16px;
    color: #3b5998;
    border: 1px solid #c20000;
    border-radius: 16px;
    padding: 5px 20px;
    margin-bottom: 5px;
    background-color: #fff;
}
.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    background: transparent;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}



/*.mixitup-container
---------------------------------------------------------------------- */

.mixitup-container {
    padding: 1rem 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix {
    padding: 0 25px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: transparent;
   /* border-top: .5rem solid currentColor;
   border-radius: 2px;*/
   margin-bottom: 1rem;
   position: relative;
   backface-visibility: hidden; /* prevents flicker in chrome */
   will-change: transform, opacity; /* prevents flicker in safari */
}
@media(max-width: 992px){
    .mix {
        padding: 0 5px;
    }
}



/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

@media screen and (min-width: 450px) {
    .mixitup-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* 3 Columns */

@media screen and (min-width: 767px) {
    .mixitup-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* 4 Columns */


/* 5 Columns */

/*@media screen and (min-width: 1281px) {
    .mixitup-container {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}*/


.mix .slider-home-feature{
    padding: 0;
    border: 1px solid #777;
}