.row{
	margin-right: 0;
	margin-left: 0;
}		
a:hover, a:active:focus, a:focus, button:hover, button:active:focus, button:focus{
	text-decoration: none;	
	outline: 0;
}
.pd-left{
	padding-left: 0;
}
.pd-right{
	padding-right: 0;
}
body{
	font-family: 'Raleway', sans-serif !important;
}
.visible-sm{
	display: none;
}
@media(max-width: 992px){
	.container{
		max-width: 100%;
	}
}
@media(max-width: 767px){
	.hidden-sm{
		display: none;
	}
	.visible-sm{
		display: block;
	}
}
/*=========header=======*/
.hidden{
	visibility: hidden;
}
.modal-header{
	padding: 10px 15px;
}
.modal-title{
	font-size: 20px;
	color: #c20000;
}
.modal-dialog {
	max-width: 70%;
	/*transform: translate(0%, 50%) !important;*/
}
@media(max-width: 576px){
	.modal-dialog {
	max-width: 100%;
}
}
header{
	background-color: #000;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}
.header-top{
	padding: 6px 0;
}
.header-btm{
	padding-bottom: 5px;
}
.header-btm .row{
	width: 100%;
}
.header-btm2{
	padding: 0;
}
.header-btm3{
	padding-right: 0;
}
.home-logo{
	width: 80%;
}
.home-logo-div{
	height: 100%;
	display: flex;
	align-items: center;
}
.home-menu{
	display: inline-block;
	padding: 0;
	margin: 0;
}
.home-menu li{
	display: inline-block;
	padding: 5px 10px;
}
.header-top-menu{
	margin-bottom: 5px;
}
.header-top-login{
	display: inline-block;
	float: right;
}
.home-menu li a{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.home-dropdown{
	width: 100%;
	border: 1px solid;
	position: relative;
	padding-left: 20px;
	padding: 3px 10px 3px 20px;
	font-size: 1rem;
	line-height: 1.5;
	color: #777;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.home-dropdown:after{
	position: absolute;
	right: 9px;
	top: 50%;
}
.home-dropdown:before{
	content: "\f041";
	position: absolute;
	left: 5px;
	top: 0;
	font-family: FontAwesome;
	font-size: 18px;
	color: #c20000;
}
.dropdown{
	width: 100%;
}
.home-search{
	width: 100% !important;
	border-radius: 0;
	padding: 3px 15px;
}
.home-search:focus {
	color: #495057;
	background-color: #fff;
	border-color: #ced4da;
	outline: 0;
	box-shadow: none;
}
.home-form{
	position: relative;
}
.dropdown-menu{
	width: 100%;
}
.home-form .fa{
	position: absolute;
	right: 10px;
	cursor: pointer;
	color: #c20000;
}
.create-event{
	/*width: 100%;*/
	border: 1px solid;
	position: relative;
	padding-left: 20px;
	padding: 3px 15px;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;
	background-color: #c20000;
	background-clip: padding-box;
	border: 1px solid #c20000;
	border-radius: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	float: right;
}
.create-event:hover{
	color: #fff;
}
.home-login{
	font-size: 15px;
	color: #fff;
}
.home-login:hover{
	color: #fff;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: rgb(6, 124, 206);
	overflow-x: hidden;
	transition: 0.5s;
	padding: 0 0 20px;
	background-image: -webkit-linear-gradient(85deg,#0a58c0 0,#00ade1 100%);
}
.menu{
	display: none;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	float: right;
	padding: 0 5px;
	border-left: 1px solid #D9D9D9;
	margin-left: 5px;
}
.sidenav a {
	padding: 0 0 0 3px;
	color: #fff;
	display: block;
	position: relative;
	font-size: 14px;
	border-bottom: 0;
	transition: none;
	border-bottom: 2px solid rgba(255,255,255,.05);
	line-height: 46px;
	margin: 0 20px;
	text-align: left;
}
.sidenav .closebtn {
	font-size: 45px;
	text-align: right;
}
.logo-800{
	display: none;
}
.main{
	margin-top: 92px;
}
@media(max-width: 992px){
	.home-menu li a{
		font-size: 14px;
	}
	.home-menu li{
		padding: 5px;
	}
	.home-logo{
		width: 100%;
	}
}
@media(max-width: 767px){	
	.display-767{
		display: none;
	}
	.logo-800{
		width: 150px;
		display: inline-block;
		float: left;
	}
	.logo-800 img{
		width: 100%;
	}
	.header-top-login{
		float: none;
	}
	.home-menu{
		display: none;
	}
	.menu{
		display: inline-block;
	}
	.header-top-menu{
		display: block;
		text-align: right;
		margin-bottom: 10px;
	}
	.home-login{
		font-size: 14px;
	}
	
}
@media(max-width: 576px){
	.main{
		margin-top: 118px;
	}
	.create-event{
		width: 100%;
		margin-top: 10px;
		float: none;
		font-size: 14px;
	}
	.header-btm .col-7{
		padding-right: 0; 
	}
	.home-login, .home-dropdown, .form-control{
		font-size: 13px;
	}
}
/*==========/header======*/

/*====footer===*/
.footer-main{
	padding: 20px 0;
	background-color: #333;
}
.footer-head{
	color: #c20000;
	font-size: 18px;
	margin: 0 0 20px;
	text-transform: uppercase;
}
.footer-ul{
	padding: 0;
	list-style: none;
}
.footer-ul li{
	padding-left: 20px;
	position: relative;
}
.footer-ul li:before{
	content: "\f178";
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	font-family: FontAwesome;
}
.footer-main hr{
	border-top: 1px solid #fff;
	margin: 10px 0; 
}
.footer-ul a{
	color: #fff;
	font-size: 14px;
	margin: 2px 0;
}
.footer-social{
	padding: 0;
	list-style: none;
}
.social-item{
	text-align: center;
	padding: 10px 0;
	margin-bottom: 10px;
}
.social-item a{
	display: block;

}
.facebook {
	background-color: #4a639f;
}
.twitter {
	background-color: #59c8ff;
}
.google {
	background-color: #cc181e;
}
.item-icon {
	width: 25%;
	height: 100%;
	background: rgba(0,0,0,.14) !important;
	color: #fff;
	margin-right: 10px;
	display: inline-block;
	font-size: 22px;
	float: left;
	padding: 11px 0;
	margin-top: -10px;
}
.item-name{
	color: #fff;
}
.item-name:hover, .item-icon:hover{
	color: #fff;
}
.footer-btm{
	color: #fff;
	font-size: 14px;
}
.footer-span{
	float: right;
}
@media(max-width: 500px){
	.footer-span{
		float: none;
		display: block;
	}
}
/*=======/footer=====*/

/*====slider====*/
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 051 css*/
.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

#jssor_1 img{
	padding: 10px 5px;
	border-radius: 12px;
}
/*====/slider====*/



/*=====home-featured event========*/
.home-feature{
	padding: 20px 0;
	background-color: #f5f5f5;
}
.home-f-h1{
	text-align: center;
	line-height: 1.8;
	letter-spacing: 0.1px;
	font-size: 21px;
	font-weight: 100;
	color: #c20000;
	margin-bottom: 30px;
	text-transform: uppercase;
	width: 100%;
}
@media(max-width: 420px){
	.home-f-h1{
		font-size: 16px;
	}
}
.home-f-h1 .fa{
	transform: rotate(135deg);
	color: #c20000;
	font-size: 15px;
	position: relative;
	top: -1px;
	padding: 0 5px;
}
.home-f-h1 hr{
	width: 20%;
	margin: 10px auto 15px;
	border-top: 1px solid #777;
}
.prev{
	color: #3b5998;
	position: absolute;
	top: 38%;
	left: -7px;
	font-size: 1.5em;    
	cursor: pointer;
}
.next{
	color: #3b5998;
	position: absolute;
	top: 38%;
	right: -6px;
	font-size: 1.5em;   
	cursor: pointer; 
}

.slider-home-feature{
	width: 100%;
	padding: 5px 15px;
}
.home-feature-img{
	position: relative;
}
.home-feature-img img{
	width: 100%;
	height: 300px;
}
.home-feature-img p{
	position: absolute;
	bottom: 0;
	padding: 5px;
	background-color: #0008;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 1.8;
	margin: 0;
	width: 100%;
}
.home-feature-span{
	position: absolute;
	top: 13px;
	right: 7px;
	padding: 0px 5px;
	background-color: #c20000;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.1px;
	line-height: 1.8;
	margin: 0;
	font-weight: 600;
}
.home-feature-text p{
	padding-left: 20px;
	color: #333;
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 1.8;
	margin: 0;
	width: 100%;
	position: relative;
}
.home-feature-time:before{
	content: "\f017";
	position: absolute;
	left: 2px;
	top: -4px;
	font-family: FontAwesome;
	font-size: 18px;
	color: #c20000;
}
.home-feature-location:before{
	content: "\f041";
	position: absolute;
	left: 5px;
	top: -4px;
	font-family: FontAwesome;
	font-size: 18px;
	color: #c20000;
}
.home-feature-price:before{
	content: "\f156";
	position: absolute;
	left: 5px;
	top: -4px;
	font-family: FontAwesome;
	font-size: 18px;
	color: #c20000;
}
.home-feature-text{
	background-color: #fff;
	padding: 10px;
}
.home-ads-img img{
	width: 100%;
	height: auto;
}
.slick-dotted.slick-slider{
	margin-bottom: 0;
}
.slick-dots{
	display: none !important;
}
.event-card-action{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	transition: all .3s ease-in-out;
}
.event-card-button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transition: all .3s ease-in-out;
	background-color: #c20000;
	color: #fff;
	padding: 5px 15px;
	font-weight: 600;
	font-size: 15px;
}
.slider-home-feature:hover .event-card-button{
	transform: translate(-50%,-50%) scale(1);
}
.slider-home-feature:hover .event-card-action{
	background: rgba(0,0,0,.5);
}
/*=====home-featured event========*/

/*========Browse Event by category======*/
.home-section3{
	padding: 20px 0;
}
.home-browse{
	padding: 0;
	display: block;
	list-style: none;
	width: 100%;
}
.home-browse li{
	display: inline-block;
	width: 16.66%;
	padding: 10px;
}
.home-browse-img{
	width: 100%;
	height: 100px;
	object-fit: contain;
	border: 2px solid #c20000;
	border-radius: 5px;
}
.home-browse-img:hover{
	object-fit: cover;
}
.home-section3 p{
	text-align: center;
	color: #c20000;
	font-size: 18px;
	font-weight: 100;
	margin: 10px 0 0;
}
/*========/Browse Event by category======*/

/*=========happy clients=========*/
.home-sec4{
	/*background-image: url(../img/bg-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
}
.home-sec4-row{
	width: 100%;
	height: 100%;
	padding: 20px 0;
	background-color: #3b599833;
}
.bx-wrapper .bx-pager {
	position: absolute;
	top: 50%;
	width: auto;
	right: 10px;
}
.bx-wrapper .bx-pager-item{
	display: block;
	margin-bottom: 5px;
}
.bx-wrapper{
	box-shadow: none;
	border: 0;
	background: transparent;
	margin-bottom: 0;
}
.testimonial-item .col-sm-11 {
	background: #fff;
	padding: 21px;
	/*-webkit-box-shadow: 10px 25px 42px -35px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 25px 42px -35px rgba(0,0,0,0.75);
	box-shadow: 10px 25px 42px -35px rgba(0,0,0,0.75);*/
	height: 100%;
}
.testimonial-item{
	text-align: center;
	margin-bottom: 10px;
}
@media(max-width: 767px){
	..testimonial-item{
		margin-bottom: 10px;
	}
}
.testimonial{
	margin: 0 auto;
}
.testimonial-item q {
	display: block;
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
	padding: 20px 10px;
	position: relative;
}
.testimonial-item cite b {
	font-size: 18px;
	color: #c20000;
}
.testimonial q::before,  .testimonial q::after {
	content: " ";
	width: 24.5px;
	height: 19px;
	background: transparent url("../img/com2.png");
	display: block;
	position: absolute;
	left: -25px;
	top: 10px;
	background-size: cover;
}
.testimonial q::after {
	right: -25px;
	left: inherit;
	top: inherit;
	transform: rotate(-180deg);
}
/*
.testimonial-item cite {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}
*/
/*=========/happy clients=========*/

/*======video========*/
.home-video{
	padding: 20px 0;
	/*background-color: #f4f4f4;*/
}
.home-video-sub{
	text-align: center;
	margin: 0 auto;
	padding: 0 15px;
	height: auto;
}

.home-video-sub iframe{		
	width: 100% !important;
}
/*======video========*/

/* ========== counter ======== */
.home-counter{
	background-image: url('../img/sample.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.stats {
	padding: 30px 0;
	background-color: rgba(44,62,80 , 0.6 );
	background-image: url('../img/pattern.png');
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;
}
.stats-info {
	text-align: center;
	/*display: flex;*/
	padding: 20px 0;
}
.stats-grid {
	font-size: 40px;
	font-weight: 400;
	color: white;
	display: inline-block;
}
.stats-infoh{
	text-align: center;
}
@media(max-width: 576px){
	.stats-grid{
		font-size: 30px;
	}
	.stats-infoh{
		font-size: 22px;
	}
}
/* ========== counter ======== */

/*====== create Event ====*/
.home-event{
	padding: 30px 0;
	background-color: #f4f4f4;
}
.home-event-btn{
	background-color: #c20000;
	color: #fff;
	display: block;
	width: 300px;
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
	padding: 10px 0;
	/*font-weight: 600;*/
	text-transform: uppercase;
}
/*====== create Event ====*/


/*======detail========*/
.detail-main{
	background: #f4f4f4;
}
.detail-img{
	display: block;
	width: 100%;
	margin: 10px 0;
	height: 450px;
}
.detail-head{
	/*text-align: center;*/
	line-height: 1.8;
	letter-spacing: 0.1px;
	font-size: 21px;
	font-weight: 100;
	color: #c20000;
	/*text-transform: uppercase;*/
	margin: 0;
}
.detail-hr{
	width: 20%;
	margin: 0 0 15px;
	border-top: 1px solid #777;
}

.detail-para, .detail-ol li{
	font-size: 15px;
	letter-spacing: 0.1px;
	line-height: 1.8;
	color: #7b7878;
}
.detail-mid{
	background-color: #fff;
	padding: 15px;
	margin-bottom: 15px;
}
.detail-buy{
	background-color: #fff;
	padding: 20px;
	margin-top: 10px;
	border: 1px solid #b7b6b6;
	margin-bottom: 15px;
}

@media(max-width: 767px){
	.detail-buy{
		position: relative;
		top: 0;
	}
	.detail-container{
		padding: 0;
	}
	.detail-btn-fix{
		position: fixed;
		bottom: 0;
		background-color: #fff;
		/*text-align: center;*/
		padding: 10px 0;
		width: 100%;
		z-index: 999;
		left: 0;
	}
	.detail-buy-btn{
		margin: 0 auto
	}
}
.detail-info p{
	font-size: 20px;
	/*line-height: 1.8;*/
	letter-spacing: 0.1px;
	font-weight: 600;
	color: #c20000;
}
.detail-buy-btn{
	display: block;
	width: 80%;
	padding: 10px 0;
	background-color: #3b5998;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.detail-buy-btn:hover{
	color: #fff;
}
#demo img{
	width: 100%;
	height: 300px;
}
.detail-video{
	padding: 0;
}
/*============ buy ===========*/
.buy-main{
	padding: 40px 0;
}
.buy-head{
	font-size: 22px;
	/*line-height: 1.8;*/
	letter-spacing: 0.1px;
	font-weight: 600;
	color: #3b5998;
	text-align: center;
	margin-bottom: 0;
	text-transform: capitalize;
}
.buy-add{
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.1px;
	font-weight: 100;
	color: #000;
	text-align: center;
	margin-bottom: 30px;
}
.counter {
	font-size: 22px;
	font-weight: 700;
	background: #006599;
	padding: 0px 8px 3px 8px;
	color: white;
	cursor: pointer;
	border: 1px solid white;
	vertical-align: middle;
}
.count {
	background: #fff;
	width: 45%;
	border: 1px solid #ccc;
}
.text-xs-center {
	text-align: center !important;
}
.book-ticket p {
	line-height: 1.5;
	font-size: 14px;
	text-align: justify;
	font-weight: 100;
}
.hidden {
	display: none;
}
.no-padding{
	padding: 0;
}
.ticket-div{
	background-color: #fff;
	padding: 15px 0;
	margin-bottom: 20px;
}
.text-xs-right {
	text-align: right !important;
}
.ticket-price{
	padding-top: 8px;
	font-weight: bold;
	padding-right: 5px;
}
.ticket-head{
	color: #c20000;
	font-size: 17px;
	font-weight: 100;
	margin-bottom: 0;
	padding-top: 6px;
}
.article{
	margin-bottom: 20px;
}
@media(max-width: 1200px){
	.pignose-calendar{
		width: 100%;
	}
	.buy-main .container{
		padding: 0;
	}
}
@media(max-width: 576px){
	.text-xs-center{
		padding: 5px 0;
	}
}
@media(max-width: 500px){
	.article{
		width: 100%;
	}
	.article .col-12{
		padding: 0;
	}
}
.total-amount{
	font-weight: 600;
	font-size: 18px;
}


/*========= book ========*/

.card-link{
	color: #c20000;
}
.card{
	margin-bottom: 20px;
}
.card-header{
	background-color: #fff;
	border-bottom: 1px dotted rgba(0,0,0,.125);
}

.book-form{
	width: 100%;
}
.book-form input{
	border: none;
}
.book-email{
	width: 100%;
	border-radius: 0;
	border: 1px solid #777 !important;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 13px;
}
.book-step3 p{
	font-size: 13px;
	margin: 0;
}
.border-book{
	border-left:  1px dotted #777;
}
.book-step1{
	background-color: #fff;
	padding: 15px 0;
}
.card-body input{
	width: 100%;
	margin: 0;
}
.card-body td{
	padding: 7px;
}
.card-body tr td:nth-child(1){
	width: 5%
}
.card-body tr td:nth-child(2){
	width: 45%
}
.card-body tr td:nth-child(3){
	width: 20%
}
.card-body tr td:nth-child(4){
	width: 40%
}
.add-member{
	float: right;
	font-size: 15px;
	color: #c20000;
	cursor: pointer;
}

@media(max-width: 576px){
	.card-body .col-12{
		padding: 0;
	}
	.border-book{
		border-left:  none;
	}
}
.book-form-btn{
	display: block;
	width: 80%;
	padding: 10px 0;
	background-color: #3b5998;
	color: #fff;
	text-align: center;
}
.book-btn{
	display: block;
	width: 200px;
	padding: 10px 0;
	background-color: #3b5998;
	color: #fff;
	text-align: center;
	margin: 15px auto;
}
.book-btn:hover{
	color: #fff;
}
.book-step1 h1{
	border-bottom: 1px dotted #777;
	font-size: 16px;
	padding: 5px 0;
	margin: 10px 0;
	font-weight: 600;
	color: #3b5998;
}
.book-step1 h3{
	font-weight: 600;
	font-size: 15px;
	margin: 0 0 5px;
}
.book-step1 h5{
	font-size: 13px;
	margin: 0 0 5px;
}
.book-step1 p{
	font-size: 15px;
	font-weight: 600;
}
.book-step1 h4{
	font-size: 18px;
	padding: 5px 0;
	margin: 0 0 10px;
	text-align: center;
	font-weight: 600;
	color: #c20000;
	margin: 0;
}

/*===========================================================*/

/*orgniser Dashbord*/
.main-dash{
	margin-top: 48px;
	min-height: 100vh;
	background-color: #f4f4f4;
}
.main-dash > .row{
	min-height: 100vh;
}
.sidenav-dash{
	background-color: #3b5998;
	min-height: 100%;
	padding: 15px;
}
.dash-menu .fa{
	float: right;
}
.sidenav-dash .closebtn{
	display: none;
}
.form-inline .form-control{
	width: 49.5%;
}
.dash-content-main h1{
	font-size: 30px;
	margin: 20px 0 0;
}
.img1 {
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
	padding: 2px;
}
.file-new {
	font-size: 14px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
	cursor: pointer;
}
.dash-submit{
	background-color: #3b5998;
	padding: 7px 25px;
	border-radius: 0;
	color: #fff;
}
@media(max-width: 992px){
	.form-inline .form-control {
		width: 49%;
	}
}
@media(max-width: 767px){
	.sidenav-dash {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: 0.5s;
		padding: 0;
	}
	.sidenav-dash .closebtn{
		display: block;
		color: #fff;
		text-align: right;
		font-size: 18px;
		padding: 15px 15px 0;
	}
	.sidenav-dash .dash-menu{
		padding: 15px;
	}
	
}
@media(max-width: 576px){
	.img1 {
		width: 200px;
		height: auto;
		margin: 0 auto;
	}
}
.dataTables_paginate{
	display: none;
}
.table-bg{
	background-color: #c20000;
	color: #fff;
}
#example{
	text-align: center;
}
.tab-content{
	padding: 15px 0;
}
.fade:not(.show) {
	opacity: 1;
}
.admin-dash-ul{
	padding: 0;
	list-style: none;
}
.admin-dash-ul li{
	margin-bottom: 15px;
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.admin-dash-ul a{
	color: #c20000;
}
#example .btn{
	border: 1px solid;
	padding: 2px 10px;
}
.modal-head{
	margin-bottom: 0;
}
.admin-dropdown-btn, .admin-dropdown-btn:hover, .admin-dropdown-btn:active:focus{
	background-color: transparent;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}
.admin-dropdown{
	text-align: right;
}
.admin-dropdown .dropdown{
	width: auto;
	display: inline-block;
}
.admin-dropdown .dropdown-menu{
	padding: 0;
	color: #c20000;
}
.admin-dropdown .dropdown-item{
	color: #c20000;
}
@media(max-width: 992px){
	.admin-logo {
		width: 150px;
	}
}
.admin-form{
	width: 100%;
}
.admin-form .form-group{
	width: 49%;
	display: inline-block;
}
@media(max-width: 450px){
.admin-form .form-group{
	width: 100%;
	display: block;
}
}